# Секретные ключи (НИКОГДА НЕ УДАЛЯТЬ ЭТУ СТРОКУ)
.env

# Виртуальное окружение (оно весит много и у всех разное)
venv/
env/
.venv/

# Кэш питона
__pycache__/
*.pyc

# Данные (обычно результаты парсинга тоже не хранят в репо, но по желанию)
# collecting_from_api/data/
# parsing/data/

# Настройки редакторов
.vscode/
.idea/